{% extends 'core/base.html' %}

{% block contenido %}


<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="hidden" name="txtId" id="txtId" value="{{ mb.id }}">

    <table class="tablaformulario">
        <tr>
            <th>
                <label for="txtNombre">Nombre</label>
            </th>
            <th>
                <input type="text" id="txtNombre" name="txtNombre" value="{{ mb.nombre }}" >
            </th>
        </tr> 
        <tr>
            <th><label for="cboEsterilizado">Esterilizado</label></th>
            <th><select name="cboEsterilizado" id="cboEsterilizado" > 
                <option value="">Seleccionar</option>
                <option
                {% if mb.chip == '1' %}
                {{'selected'}}
                {% endif %}
                value="1">Si</option>
                <option
                {% if mb.chip == '2' %}
                {{'selected'}}
                {% endif %}
                value="2">No</option>
            </th>
        </tr>
        <tr>
            <th><label for="cboChip">Chip</label></th>
            <th><select name="cboChip" id="cboChip" >
                <option value="">Seleccionar</option>
                <option
                {% if mb.chip == '1' %}
                {{'selected'}}
                {% endif %}
                value="1">Si</option>
                <option
                {% if mb.chip == '2' %}
                {{'selected'}}
                {% endif %}
                value="2">No</option>
            </th>
        </tr> 
        
            <th><label for="txtNacimiento">Fecha de Nacimiento</label></th>
            <th><input type="date" id="txtNacimiento" name="txtNacimiento" value="{{ mb.fecNaMa }}"></th>
        </tr>
        <tr>
            <th><label for="cboRaza">Raza</label></th>
            <th><select name="cboRaza" id="cboRaza">
                <option value="">Seleccionar</option>
                    {% for r in raza  %}
                    <option 
                    {% if r.id == mb.id_raza.id %}
                    {{'selected'}}
                    {% endif %}
                    value="{{r.id}}">{{r.descripcion}}</option>
                    {% endfor %}
        </tr>


        <tr>
            <th><label for="cboOrigen">Origen de mascota</label></th>
            <th><select name="cboOrigen" id="cboOrigen">
                <option value="">Seleccionar</option>
                    {% for o in origen  %}
                    <option 
                    {% if o.id == mb.id_orig_masc.id %}
                    {{'selected'}}
                    {% endif %}
                    value="{{o.id}}">{{o.descripcion}}</option>
                    {% endfor %}
        </tr>
        <tr>
            <th><label for="cboRefugio">Refugio</label></th>
            <th><select name="cboRefugio" id="cboRefugio">
                <option value="">Seleccionar</option>
                    {% for r in refugio  %}
                    <option 
                    {% if r.id == mb.cod_refugio.id %}
                    {{'selected'}}
                    {% endif %}
                    value="{{r.id}}">{{r.nombre}}</option>
                    {% endfor %}
        </tr>
        <tr>
            <th><label for="txtRut">Rut usuario</label></th>
            <th><input type="text" placeholder="ej: 12345678-9" id="txtRut" name="txtRut" value="{{ mb.rut_usuario }}"></th>
        </tr>
        <!--si hay imagen la mostramos-->
        {% if mb.imagen %}
        <tr>
            <th><label for="">Imagen Actual</label></th>
            <th><img src="{{ mb.imagen.url }}" width=154 height=154 alt="Imagen Actual"></th>
        </tr>
        {% endif %}
        <tr>
            <th><label for="txtImagen">Imagen</label></th>
            <th><input type="file" id="txtImagen" name="txtImagen"></th>
        </tr>



        <tr>
            <th>
            </th>
            <th>
                <br>
                <input type="submit" value="Modificar" id="btnModificar" name="btnModificar">
            </th>

        </tr>
    </table>
    <br>  


</form>
{#                                                                                   pareciera estar demas#}


<table class="resultadoMascota">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Esterilizado</th>
        <th>Chip</th>
        <th>Rut de Usuario</th>
        <th>Opciones</th>
    </tr>
    {# por cada fila de la BBDD creamos una fila de la tabla #}
     {% for m in masc %}

    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.nombre }}</td>
        
        {% if m.esterilizado == "1" %}
            <td>Esterilizado</td>
        {% else %}
            <td>No esterilizado</td>
        {% endif %}
        {% if  m.chip == "1" %}
            <td>Si</td>
        {% else %}
            <td>No</td>
        {% endif %}
        <td>{{ m.rut_usuario }}</td>
        <td>
            <a href="{% url 'eliminar' m.id %}">Eliminar</a>
            <a href="{% url 'modificarMascota' m.id %}">Modificar</a>  
        </td>
    </tr>

    {% endfor %}


</table>

<!--Primero preguntamos si hay mensajes que mostrar-->

{% if messages %}
<!--recorremos todos los mensajes y los mostramos-->
    {% for m in messages %}
        <div>{{ m }}</div>
    {% endfor %}
{% endif %}


{% endblock %}